version: 2
updates:
- package-ecosystem: "nuget"
  directory: "/src"
  schedule:
    interval: "weekly"
  open-pull-requests-limit: 5
  groups:
    all-minor-patch:
      update-types:
        - "minor"
        - "patch"